.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.header {
  text-align: center;
}

.body {
  padding-top: 2%;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  align-items: center;
  justify-content: center;
  appearance: button;
  color: whitesmoke;
  text-decoration: none;
  display: inline-flex;
  background-color: #1db954;
  border-radius: 999px;
  min-height: 54px;
  min-width: 160px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: medium;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms ease-in-out;
  font-family: "Poppins", sans-serif;
  width: auto;
}

.button:hover {
  background-color: #1ed760;
}

.button:active {
  background-color: #1db954;
}

.gradient-text {
  background-image: linear-gradient(120deg, #1db954, #191414);
  background-clip: text;
  color: transparent;
}

h2 {
  font-size: smaller;
  color: whitesmoke;
}

h1 {
  color: #191414;
}
