.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

/*Need to make h1 and h2 font size responsive to view width and view height */
.header {
  /* text-align: center; */
  justify-content: center;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 100%;
}

.button {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  -webkit-appearance: button;
  -moz-appearance: button;
  align-items: center;
  justify-content: center;
  appearance: button;
  color: whitesmoke;
  text-decoration: none;
  display: inline-flex;
  background-color: #1db954;
  border-radius: 999px;
  border: solid black 5%;
  /* min-height: 54px;
  min-width: 160px; */
  height: 5vh;
  /* width: 15vw; */
  text-transform: uppercase;
  cursor: pointer;
  font-size: 50%;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms ease-in-out;
  font-family: "Poppins", sans-serif;
  width: auto;
  margin-top: 3%;
}

.button:hover {
  background-color: #1ed760;
  text-decoration: none !important;
  color: white;
}

.button:active {
  background-color: #1db954;
}

h2,
.h2 {
  font-size: smaller;
  color: whitesmoke;
}

h1,
.h1 {
  color: #191414;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: normal;
}

.body {
  margin-top: 2%;
  display: flex;
  border: solid red 3px;
  justify-content: center;
  align-items: center;
}

.playlistTable {
  /* margin-right: 5em; */
  /* margin-left: 5em; */
}

.convert {
  justify-content: center;
  /* margin-right: 5em; */
}

h3,
.h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: smaller;
  margin-top: 1%;
}

.clean {
  border-radius: none !important;
}
