.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

/*Need to make h1 and h2 font size responsive to view width and view height */
.header {
  /* text-align: center; */
  justify-content: center;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 100%;
}

/* .button {
  -webkit-appearance: button;
  -moz-appearance: button;
  align-items: center;
  justify-content: center;
  appearance: button;
  color: whitesmoke;
  text-decoration: none;
  display: inline-flex;
  background-color: #1db954;
  border-radius: 999px;
  border: solid black 5%;
  height: 5vh;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 50%;
  padding: 0 56px;
  letter-spacing: 3px;
  transition: background-color 200ms ease-in-out;
  font-family: "Poppins", sans-serif;
  width: auto;
  margin-top: 3%;
} */

.button:hover {
  background-color: #1ed760;
}

h2,
.h2 {
  font-size: smaller;
  color: whitesmoke;
}

h1,
.h1 {
  color: #191414;
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  line-height: normal;
}

.body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.playlistTable {
  display: inline-block;
  width: 295px;
  /* margin-right: 5em; */
  /* margin-left: 5em; */
}

.convert {
  /* justify-content: center; */
  /* margin-right: 5em; */
  display: inline-block;
}

h3,
.h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: smaller;
  margin-top: 1%;
}

.clean {
  border-radius: none !important;
}

.button {
  background-color: #1db954;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 3%;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}
